<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Start Exploring</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
        .navbar {
            border-radius: 0;
        }
        #profilePic {
            height: 200px;
            width: 200px;
            overflow: hidden;
        }
        #businessProfile {
            height: 200px;
            width: 200px;
            overflow: hidden;
        }
        .padding-5-left {
            padding-left: 5px
        }
        .padding-15 {
            padding: 25px
        }
        .padding-20-bottom {
            padding-bottom: 20px
        }
        .padding-85-top {
            padding-top: 85px
        }
        .listOfCities {
            padding: 10px;
        }
        .listOfCities:hover {
            background-color: cornflowerblue;
            color: white;
        }
        .list-height {
            max-height: 200px;
            overflow-y: scroll;
        }
        .mouse-pointer {
            cursor: pointer;
        }
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
        .textAlign {
            text-align: left;
        }
        .padding-40-top {
            padding-top: 40px;
        }
        .no-padding-left {
            padding-left: 0px;
        }
        .trendsCenter {
            text-align: -webkit-center;
            padding: 10px
        }
        .trendsFontSize {
            font-size: 17px
        }
        .no-padding-bottom {
            padding-bottom: 0px;
        }
    </style>
    <!-- Custom CSS -->

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href='bower_components/angular/angular-csp.css' rel='stylesheet' type='text/css'>
    <link href="css/index.css" rel='stylesheet' type='text/css'>


    <script src="js/angular.min.js"></script>
    <script src="js/angular-base64.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/ui-bootstrap-tpls-1.2.5.js"></script>
    <script src="js/checklist-model.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <!--   References For charts-->
    <script src="charts/d3/d3.min.js"></script>
    <script src="charts/nvd3/nv.d3.js"></script>
    <script src="charts/angular-nvd3/dist/angular-nvd3.js"></script>
    <link rel="stylesheet" href="charts/nvd3/nv.d3.css">
    <script src="js/spin.min.js"></script>
    <script src="js/Chart.bundle.min.js"></script>



    <script src="app.js"></script>
    <script src="modules/mainController.js"></script>
    <script src="modules/watsonService.js"></script>
    <script src="modules/macyService.js"></script>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <!--    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/progressbar.min.js"></script>
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <!--    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>



</head>

<body id="page-top" class="index" ng-app="reviewApp" ng-csp>

    <div ng-controller="mainController" id="containerID" class="container-fluid" style="width: 600px">
        <!--        <nvd3 options="options" data="data"></nvd3>-->

        <div class="row" style="margin-top: 5%;">
            <div class="col-xs-12" style="color: #2bf09c; font-size: 25px; font-style: bold; text-align:center">
                <img src="img/poster.png" alt="Senti-meter" />
            </div>
        </div>


        <div class="row" style="margin-top: 5%;">
            <div ng-if="productName" class="col-xs-12" style="color: #000; font-size: 18px; font-style: bold; text-align:center">
                <b>{{productName}}</b>
            </div>
        </div>

        <div class="row" id="content" style="margin-top: 5%;">
            <div class="col-xs-12 col-centered result-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#presults" data-toggle="tab" ng-click="showResults">Results</a>
                    </li>
                    <li><a href="#pverdict" data-toggle="tab" ng-click="showVerdict">Verdict</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row tab-content clearfix" style="margin-top:2%;">
            <div class="col-xs-12 col-centered percent-results tab-pane active" id="presults">
                <div class="row progressDiv padding-15" style="margin-bottom:2%;">
                    <div class="col-xs-3 textAlign">
                        <i class="em em-grinning" style="margin-right:10px"></i>  <b>Joy</b>
                    </div>
                    <div class="col-xs-8" id="progressbar-4"></div>
                    <!--                    <div class="col-xs-2" id="percent-4"></div>-->
                </div>

                <div class="row progressDiv">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11" ng-if="allTones.joy[0].text">{{allTones.joy[0].text}}</div>
                </div>
                <div class="row progressDiv">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11" ng-if="allTones.joy[1].text">{{allTones.joy[1].text}}</div>
                </div>
                <hr style="width: 100%; color: black; height: 1px; background-color:grey;" />

                <div class="row progressDiv padding-15">
                    <div class="col-xs-3 textAlign">
                        <i class="em em-angry" style="margin-right:10px"></i>  <b>Anger</b>
                    </div>
                    <div class="col-xs-8" id="progressbar-1">
                    </div>

                    <!--                    <div class="col-xs-2" id="percent-1"></div>-->
                </div>

                <div class="row progressDiv">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11" ng-if="allTones.anger[0].text">{{allTones.anger[0].text}}</div>
                </div>
                <div class="row progressDiv">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11" ng-if="allTones.anger[1].text">{{allTones.anger[1].text}}</div>
                </div>

                <hr style="width: 100%; color: black; height: 1px; background-color:grey;" />

                <div class="row progressDiv padding-15">
                    <div class="col-xs-3 textAlign">
                        <i class="em em-expressionless" style="margin-right:10px"></i>  <b>Disgust</b>
                    </div>
                    <div class="col-xs-8" id="progressbar-2">

                    </div>
                    <!--                    <div class="col-xs-2" id="percent-2"></div>-->
                </div>
                <div class="row progressDiv">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11" ng-if="allTones.disgust[0].text">{{allTones.disgust[0].text}}</div>
                </div>
                <div class="row progressDiv">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11" ng-if="allTones.disgust[1].text">{{allTones.disgust[1].text}}</div>
                </div>

                <hr style="width: 100%; color: black; height: 1px; background-color:grey;" />

                <div class="row progressDiv padding-15">
                    <div class="col-xs-3 textAlign">
                        <i class="em em-confounded" style="margin-right:10px"></i>  <b>Fear</b>
                    </div>
                    <div class="col-xs-8" id="progressbar-3"></div>
                    <!--                    <div class="col-xs-2" id="percent-3"></div>-->
                </div>
                <div class="row progressDiv">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11" ng-if="allTones.fear[0].text">{{allTones.fear[0].text}}</div>
                </div>
                <div class="row progressDiv">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11" ng-if="allTones.fear[1].text">{{allTones.fear[1].text}}</div>
                </div>
                <hr style="width: 100%; color: black; height: 1px; background-color:grey;" />

                <div class="row progressDiv padding-15">
                    <div class="col-xs-3 textAlign">
                        <i class="em em-disappointed" style="margin-right:10px"></i>  <b>Sadness</b>
                    </div>
                    <div class="col-xs-8" id="progressbar-5">

                    </div>
                    <!--                    <div class="col-xs-2" id="percent-5"></div>-->
                </div>
                <div class="row progressDiv">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11" ng-if="allTones.sadness[0].text">{{allTones.sadness[0].text}}</div>
                </div>
                <div class="row progressDiv">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-11" ng-if="allTones.sadness[1].text">{{allTones.sadness[1].text}}</div>
                </div>
                <hr style="width: 100%; color: black; height: 1px; background-color:grey;" />

            </div>

            
            <div class="col-xs-12 percent-verdict tab-pane" id="pverdict">
                <div class="col-xs-5">
                <b style="font-size:20px;">Overall Sentiment : </b>
                </br>
                <img src="{{emoji}}" />
            </div>
                <div class="col-xs-7">
                <canvas id="myChart" width="200" height="200" style="width:200px;height:200px"></canvas>
                </div>
                
                <!--                <nvd3 options="graphOptions" data="graphData"></nvd3>-->

            </div>

        </div>

    </div>



</body>

</html>
